/* Header Responsiveness */

/* Extra small devices (phones, 320px and up) */
@media (max-width: 319px) {
  .header-logo {
    height: 2rem !important;
    padding-left: 0.5rem !important;
    margin-top: 0.5rem !important;
  }
  .header-nav {
    gap: 0.25rem !important;
    padding-right: 0.5rem !important;
    margin-top: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
  .header-button {
    width: 2rem !important;
    height: 2rem !important;
    font-size: 8px !important;
  }
}

/* Small devices (phones, 320px and up) */
@media (min-width: 320px) and (max-width: 479px) {
  .header-logo {
    height: 2.5rem !important;
    padding-left: 0rem !important;
    margin-top: 0.5rem !important;
  }
  .header-nav {
    gap: 0.5rem !important;
    padding-right: 1rem !important;
    margin-top: 1.5rem !important;
    margin-right: 1rem !important;
  }
  .header-button {
    width: 2.5rem !important;
    height: 2.5rem !important;
    font-size: 10px !important;
  }
}

/* Medium devices (tablets, 480px and up) */
@media (min-width: 480px) and (max-width: 767px) {
  .header-logo {
    height: 3rem !important;
    padding-left: 0rem !important;
    margin-top: 2rem !important;
  }
  .header-nav {
    gap: 1rem !important;
    padding-right: 1.5rem !important;
    margin-top: 1rem !important;
    margin-right: 1.5rem !important;
  }
  .header-button {
    width: 3rem !important;
    height: 3rem !important;
    font-size: 12px !important;
  }
}

/* Large devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 1023px) {
  .header-logo {
    height: 3.25rem !important;
    padding-left: 0rem !important;
    margin-top: 1.5rem !important;
  }
  .header-nav {
    gap: 1.5rem !important;
    padding-right: 2rem !important;
    margin-top: 1.5rem !important;
    margin-right: 2rem !important;
  }
  .header-button {
    width: 3.25rem !important;
    height: 3.25rem !important;
    font-size: 12px !important;
  }
}

/* Extra large devices (large desktops, 1024px and up) */
@media (min-width: 1024px) and (max-width: 1439px) {
  .header-logo {
    height: 3.25rem !important;
    padding-left: 1rem !important;
    margin-top: 3rem !important;
  }
  .header-nav {
    gap: 2rem !important;
    padding-right: 2.5rem !important;
    margin-top: 2rem !important;
    margin-right: 2.5rem !important;
  }
  .header-button {
    width: 3.25rem !important;
    height: 3.25rem !important;
    font-size: 12px !important;
  }
}

/* Extra extra large devices (1440px and up) */
@media (min-width: 1440px) {
  .header-logo {
    height: 3rem !important;
    padding-left: 1px !important;
    margin-top: 3rem !important;
  }
  .header-nav {
    gap: 2.5rem !important;
    padding-right: 3rem !important;
    margin-top: 2.5rem !important;
    margin-right: 3rem !important;
  }
  .header-button {
    width: 3.25rem !important;
    height: 3.25rem !important;
    font-size: 12px !important;
  }
}
