/* Fundo animado */
.blob-outer-container {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    inset: 0;
    margin: auto;
    filter: blur(100px);
}

.blob-inner-container {
    border-radius: 99999px;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transform: scale(0.8);
}

.blob {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    margin: auto;
    background: conic-gradient(from 0deg, #ff0062, #cc00ff, #6026ab, #1100ff, #8c00ff, #cc00ff, #ff0062);
    animation: spinBlob 5s linear infinite;
}

@keyframes spinBlob {
    0% {
        transform: rotate(0deg) scale(3); 
    }

    100% {
        transform: rotate(1turn) scale(3);
    }
}

/* Home Responsiveness */

/* Extra small devices (phones, 320px and up) */
@media (max-width: 319px) {

    .home-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
  }

  .home-logo {
    height: 2.3rem !important;
    width: auto !important;
  }
  .home-title {
    font-size: 1.5rem !important;
  }
  .home-text {
    font-size: 16px !important;
  }
  .home-text-pulse {
    font-size: 17px !important;
  }
  .home-links-container {
    gap: 1rem !important;
  }
  .home-link {
    font-size: 1rem !important;
  }
}

/* Small devices (phones, 320px and up) */
@media (min-width: 320px) and (max-width: 509px) {

  .home-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
  }

  .home-logo {
    height: 2.8rem !important;
    width: auto !important;
  }
  .home-title {
    font-size: 1.875rem !important; 
  }
  .home-text {
    font-size: 17.5px !important;
  }
  .home-text-pulse {
    font-size: 18px !important;
  }
  .home-links-container {
    gap: 1.5rem !important;
  }
  .home-link {
    font-size: 1.125rem !important; 
  }
}

/* Medium devices (tablets, 480px and up) */
@media (min-width: 510px) and (max-width: 767px) {

  .home-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .home-logo {
    height: 3rem !important;
    width: auto !important;
  }
  .home-title {
    font-size: 2rem !important;
  }
  .home-text {
    font-size: 18px !important;

  }
  .home-text-pulse {
    font-size: 18.5px !important;
  }
  .home-links-container {
    gap: 2rem !important;
  }
  .home-link {
    font-size: 1.2rem !important; 
  }
}

/* Large devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 1023px) {
  .home-logo {
    height: 3.4rem !important;
    width: auto !important;
  }
  .home-title {
    font-size: 2.2rem !important; 
  }
  .home-text {
    font-size: 18px !important;
  }
  .home-text-pulse {
    font-size: 18.5px !important;
  }
  .home-links-container {
    gap: 2.5rem !important;
  }
  .home-link {
    font-size: 1.2rem !important;
  }
}

/* Extra large devices (large desktops, 1024px and up) */
@media (min-width: 1024px) and (max-width: 1439px) {
  .home-logo {
    height: 3.8rem !important;
    width: auto !important;
  }
  .home-title {
    font-size: 2.3rem !important;
  }
  .home-text {
    font-size: 19px !important;
  }
  .home-text-pulse {
    font-size: 20px !important;
  }
  .home-links-container {
    gap: 3rem !important;
  }
  .home-link {
    font-size: 1.25rem !important;
  }
}

/* Extra extra large devices (1440px and up) */
@media (min-width: 1440px) {
  .home-logo {
    height: 4rem !important;
    width: auto !important;
  }
  .home-title {
    font-size: 2.5rem !important;
  }
  .home-text {
    font-size: 20px !important;
  }
  .home-text-pulse {
    font-size: 21px !important;
  }
  .home-links-container {
    gap: 3.5rem !important;
  }
  .home-link {
    font-size: 1.25rem !important;
  }
}
